@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 100;
	src: url('../woff/IRANSansXFaNum-Thin.woff') format('woff'),   
	url('../woff2/IRANSansXFaNum-Thin.woff2') format('woff2');		
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 200;
	src: url('../woff/IRANSansXFaNum-UltraLight.woff') format('woff'),   
	url('../woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 300;
	src: url('../woff/IRANSansX-light.woff') format('woff'),   
	url('../woff2/IRANSansX-light.woff2') format('woff2');		 
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 500;
	src: url('../woff/IRANSansXFaNum-Medium.woff') format('woff'),   
	url('../woff2/IRANSansXFaNum-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 600;
	src: url('../woff/IRANSansXFaNum-DemiBold.woff') format('woff'),   
	url('../woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2');	 
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 800;
	src: url('../woff/IRANSansXFaNum-ExtraBold.woff') format('woff'),   
	url('../woff2/IRANSansXFaNum-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 900;
	src: url('../woff/IRANSansXFaNum-Black.woff') format('woff'),   
	url('../woff2/IRANSansXFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: bold;
	src: url('../woff/IRANSansXFaNum-Bold.woff') format('woff'),   
	url('../woff2/IRANSansXFaNum-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: normal;
	src: url('../woff/IRANSansXFaNum-Regular.woff') format('woff'),   
	url('../woff2/IRANSansXFaNum-Regular.woff2') format('woff2');	
}


