/* FA number */
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-Thin.woff') format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-Thin.woff2') format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-Thin.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-UltraLight.woff')
      format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-UltraLight.woff2')
      format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-UltraLight.ttf')
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-Light.woff') format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-Light.woff2') format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-Medium.woff') format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-Medium.woff2') format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-DemiBold.woff') format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-ExtraBold.woff')
      format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-ExtraBold.woff2')
      format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-Black.woff') format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-Black.woff2') format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-Black.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-Bold.woff') format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-Bold.woff2') format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iranSans/Woff/IRANSansXFaNum-Regular.woff') format('woff'),
    url('../fonts/iranSans/Woff2/IRANSansXFaNum-Regular.woff2') format('woff2'),
    url('../fonts/iranSans/Ttf/IRANSansXFaNum-Regular.ttf') format('truetype');
}

/* EN number */
@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/iranSans/En/woff/IRANSansX-Thin.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-Thin.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/iranSans/En/woff/IRANSansX-UltraLight.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/iranSans/En/woff/IRANSansX-Light.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-Light.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/iranSans/En/woff/IRANSansX-Medium.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-Medium.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/iranSans/En/woff/IRANSansX-DemiBold.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/iranSans/En/woff/IRANSansX-ExtraBold.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/iranSans/En/woff/IRANSansX-Black.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-Black.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/iranSans/En/woff/IRANSansX-Bold.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansEn;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iranSans/En/woff/IRANSansX-Regular.woff') format('woff'),
    url('../fonts/iranSans/En/woff2/IRANSansX-Regular.woff2') format('woff2');
}
