@import './stats.scss';

[v-cloak] {
  filter: blur(5px);
}

/* ------------Login style------------- */
.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: var(--body);
  font-family: 'IBM Plex Sans Arabic', sans-serif;

  &.fa-localization {
    direction: rtl;
    text-align: right;
  }

  form.login {
    width: 100%;
    padding: 20px;

    .login__field {
      position: relative;
      margin: 10px 0;

      .input-ctn {
        width: 320px;
        height: 50px;
        border-radius: 5px;
        overflow: hidden;
        margin: 3px 0;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

        .icon {
          width: 56px;
          height: 53px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #d3d3d3; /* Changed to light gray */
          color: #080808; /* Changed to black (same as the login button background) */
        }

        input {
          width: 100%;
          height: 50px;
          background: var(--box);
          border: none !important;
          border-radius: 0px;
          padding: 0 10px;
          color: var(--text_gray);

          &:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(74, 126, 243, 0.6);
            border-color: #4a7ef3;
          }
        }
      }
    }

    .login__submit {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #080808;
      color: #ffffff;
      font-size: 17px;
      margin: 20px 0;
      height: 53px;
      width: 320px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 700;
      transition: background 0.2s, color 0.2s;
      cursor: pointer;
      outline: none !important;
      border: none !important;

      &:active,
      &:focus,
      &:hover {
        background: #4a7ef3;
        color: #ffffff;
      }
    }
  }

  .loader-wait-request {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border-top: 3px solid #4a7ef3;
    border-right: 3px solid #4a7ef3;
    border-left: 3px solid #4a7ef3;
    border-bottom: 3px solid #ededed;
    animation: loader 1s linear infinite;

    @keyframes loader {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
